@import url(https://fonts.googleapis.com/css?family=Karla);
input[type="checkbox"] {
  display: none;
}

nav label {
  display: none;
  font-size: 2em;
}

.home-logo {
  float: left;
}

@media (max-width: 808px) {
  .blurb {
    width: 100%;
  }

  .specs {
    width: 100%;
    clear: both;
    padding: 0 6px;
  }
}
@media (max-width: 30em) {
  body {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  body:after {
    content: " ";
    display: block;
    clear: both;
  }

  nav {
    padding: 0;
  }
  nav .home-logo {
    font-size: 1.5em;
    float: none;
    display: block;
    text-align: center;
    margin: 0;
  }
  nav .nav-links {
    text-align: center;
    display: none;
    margin: 0;
  }
  nav .nav-links a {
    font-size: 16px;
    font-weight: bolder;
    line-height: 60px;
    margin-right: 0;
    padding: 0 12px;
  }
  nav label {
    display: block;
    text-align: center;
  }
  nav :checked ~ .nav-links {
    display: block;
    text-align: center;
  }

  .greeting {
    padding: 0 30px;
  }
  .greeting .blurb {
    margin: 0;
    width: 100%;
    float: none;
    padding: 0;
  }
  .greeting .blurb h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
  }
  .greeting img {
    display: none;
  }

  footer {
    padding: 0;
  }
  footer ul {
    padding: 0;
  }
  footer .icons li a {
    font-size: 1.4rem !important;
  }
  footer p {
    margin: 25px 20px;
    font-size: 14px;
  }

  .projects img {
    width: 100%;
  }
  .projects h3 {
    text-indent: 0;
    text-align: center;
  }
  .projects .description {
    width: 100%;
    padding: 0 20px;
    margin-top: 0;
  }
  .projects .stat p {
    display: block;
    width: 100%;
    text-indent: 0;
    text-align: center;
  }
  .projects .stat ul {
    text-indent: 0;
  }
  .projects .stat ul li {
    font-size: 96%;
  }

  .resume-page {
    margin-left: 0;
  }
  .resume-page h4 ul {
    margin-right: 7em;
    margin-left: 5em;
  }

  .bio .container {
    width: 100%;
  }
  .bio .container .bio-header h1 {
    font-size: 30px;
    text-align: center;
  }
  .bio .container ul {
    margin-left: -20px;
    margin-right: 5px;
  }

  .proj-header {
    text-align: center;
  }
  .proj-header h1 {
    font-size: 2em;
  }
}
@media (min-width: 64rem) {
  html {
    font-size: 120%;
  }
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Karla";
}
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* global */
::-moz-selection {
  color: white;
  background: #012461;
}

::selection {
  color: white;
  background: #012461;
}

/* main */
a {
  color: #00519F;
  text-decoration: none;
  transition-duration: .4s;
}
a:hover {
  color: white;
  background-color: #012461;
}

.active {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 3em;
  font-weight: bolder;
  margin: 0px;
}

/* nav */
nav {
  width: 100%;
  border-bottom: 2px solid #012461;
  text-align: right;
  background-color: #f2f2f2;
  padding: 0 1em 0 0;
}
nav li {
  display: inline;
}
nav a {
  font-size: 1.5em;
  font-weight: bolder;
  line-height: 60px;
  margin-right: 1em;
  padding: 0 1em;
}

/* footer */
footer {
  background-color: #f2f2f2;
  border-top: 1px solid #012461;
  clear: both;
  padding: .5em;
}

footer p {
  font-size: 19.2px;
  font-size: 1.2rem;
  margin: 2em auto 0;
  text-align: center;
}

.icons {
  text-align: center;
}

.icons li {
  display: inline;
  margin: .5em;
}

.icons li a {
  font-size: 38.4px;
  font-size: 2.4rem;
  border-bottom: none;
  color: #696969;
}
.icons li a:hover {
  /* to reset ::selection  */
  background-color: #f2f2f2;
}

.fa-codepen:hover {
  color: black;
}

.fa-envelope-o:hover {
  color: #64A9DD;
}

.fa-medium:hover {
  color: black;
}

.fa-linkedin-square:hover {
  color: #1F84BA;
}

.fa-twitter:hover {
  color: #64A9DD;
}

.fa-github:hover {
  color: black;
}

/* bio */
/* projects */
/* Bio Map */
.bio li {
  float: left;
  display: block;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid black;
  border-radius: 0%;
  margin: 0.2em;
}

.bio li.past {
  background: #03EFC0;
}

.bio li.empty {
  background: #A8DEFF;
}

.bio li.present {
  background: #FF0335;
}

.bio li.future {
  background: #CFCDCF;
}

.bio li.last {
  height: 1em;
  margin-top: .4em;
}

.bio li.final {
  height: .7em;
  margin-top: .7em;
}

.bio li span {
  position: absolute;
  display: none;
  background: #FFFFE0;
  border: 1px solid orange;
  padding: 0.5em 1em;
  line-height: 1.5em;
  font-size: 0.85em;
  margin-top: 1em;
  margin-left: 0.5em;
  border-radius: 1em;
  border-top-left-radius: 0;
  max-width: 30em;
}

.bio li.past:not(.empty):hover span,
.bio li.present:hover span,
.bio li.birthday:hover span {
  display: block;
}

.bio li.birthday {
  border-color: black;
  border-width: 3px;
}

.bio li.past:not(.empty):hover,
.bio li.present:hover,
.bio li.birthday:hover {
  background: white;
  border-color: #FF4500;
  border-width: 2px;
}

.container, footer {
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
}

.bio-header {
  margin: 30px;
}

input[type="checkbox"] {
  display: none;
}

nav label {
  display: none;
  font-size: 2em;
}

.home-logo {
  float: left;
}

@media (max-width: 808px) {
  .blurb {
    width: 100%;
  }

  .specs {
    width: 100%;
    clear: both;
    padding: 0 6px;
  }
}
@media (max-width: 30em) {
  body {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  body:after {
    content: " ";
    display: block;
    clear: both;
  }

  nav {
    padding: 0;
  }
  nav .home-logo {
    font-size: 1.5em;
    float: none;
    display: block;
    text-align: center;
    margin: 0;
  }
  nav .nav-links {
    text-align: center;
    display: none;
    margin: 0;
  }
  nav .nav-links a {
    font-size: 16px;
    font-weight: bolder;
    line-height: 60px;
    margin-right: 0;
    padding: 0 12px;
  }
  nav label {
    display: block;
    text-align: center;
  }
  nav :checked ~ .nav-links {
    display: block;
    text-align: center;
  }

  .greeting {
    padding: 0 30px;
  }
  .greeting .blurb {
    margin: 0;
    width: 100%;
    float: none;
    padding: 0;
  }
  .greeting .blurb h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
  }
  .greeting img {
    display: none;
  }

  footer {
    padding: 0;
  }
  footer ul {
    padding: 0;
  }
  footer .icons li a {
    font-size: 1.4rem !important;
  }
  footer p {
    margin: 25px 20px;
    font-size: 14px;
  }

  .projects img {
    width: 100%;
  }
  .projects h3 {
    text-indent: 0;
    text-align: center;
  }
  .projects .description {
    width: 100%;
    padding: 0 20px;
    margin-top: 0;
  }
  .projects .stat p {
    display: block;
    width: 100%;
    text-indent: 0;
    text-align: center;
  }
  .projects .stat ul {
    text-indent: 0;
  }
  .projects .stat ul li {
    font-size: 96%;
  }

  .resume-page {
    margin-left: 0;
  }
  .resume-page h4 ul {
    margin-right: 7em;
    margin-left: 5em;
  }

  .bio .container {
    width: 100%;
  }
  .bio .container .bio-header h1 {
    font-size: 30px;
    text-align: center;
  }
  .bio .container ul {
    margin-left: -20px;
    margin-right: 5px;
  }

  .proj-header {
    text-align: center;
  }
  .proj-header h1 {
    font-size: 2em;
  }
}
