/* Large screens (1024px) */
@import url(http://fonts.googleapis.com/css?family=Karla);
@import url(http://fonts.googleapis.com/css?family=Karla);
@media (min-width: 64rem) {
  html {
    font-size: 120%;
  }
}
/* @include breakpoint(\$small) {

  .main {
    @include span(8);
  }

  aside {
    @include span(4 at 9 of 12);
  }
}

@include breakpoint(\$large) {
  @include layout(24);

  .main {
    @include span(21);
.col1, .col2, .col3 {
      max-height: 500px;
      max-width: 500px;
    }

  }

  aside {
    @include span(3 at 21);
  }
} */
/* global */
::-moz-selection {
  color: white;
  background: #FF0335;
}

::selection {
  color: white;
  background: #FF0335;
}

* {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Karla";
}
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* main */
a {
  color: #2980b9;
  text-decoration: none;
  transition-duration: .4s;
}
a:hover {
  color: white;
  background-color: #FF0335;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 4em;
  font-weight: bolder;
}

nav {
  width: 100%;
  border-bottom: 5px solid #FF0335;
  text-align: right;
  background-color: #f2f2f2;
}
nav ul {
  display: inline;
}
nav ul li {
  margin: 1em;
  padding: 1em 0 1em 0;
  display: inline;
}
nav ul li a {
  font-size: 1.5em;
  font-weight: bolder;
  line-height: 60px;
}
nav ul #home-logo {
  float: left;
  font-size: 2em;
  padding: 0 20px 0 20px;
}

/* bio */
/* projects */
@media (min-width: 64rem) {
  html {
    font-size: 120%;
  }
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Karla";
}
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* global */
::-moz-selection {
  color: white;
  background: #FF0335;
}

::selection {
  color: white;
  background: #FF0335;
}

* {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Karla";
}
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* main */
a {
  color: #2980b9;
  text-decoration: none;
  transition-duration: .4s;
}
a:hover {
  color: white;
  background-color: #FF0335;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 4em;
  font-weight: bolder;
}

nav {
  width: 100%;
  border-bottom: 5px solid #FF0335;
  text-align: right;
  background-color: #f2f2f2;
}
nav ul {
  display: inline;
}
nav ul li {
  margin: 1em;
  padding: 1em 0 1em 0;
  display: inline;
}
nav ul li a {
  font-size: 1.5em;
  font-weight: bolder;
  line-height: 60px;
}
nav ul #home-logo {
  float: left;
  font-size: 2em;
  padding: 0 20px 0 20px;
}

/* bio */
/* projects */
/* Bio Map */
.bio li {
  float: left;
  display: block;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid black;
  border-radius: 0%;
  margin: 0.2em;
}

.bio li.past {
  background: #03EFC0;
}

.bio li.empty {
  background: #A8DEFF;
}

.bio li.present {
  background: #FF0335;
}

.bio li.future {
  background: #CFCDCF;
}

.bio li.last {
  height: 1em;
  margin-top: .4em;
}

.bio li.final {
  height: .7em;
  margin-top: .7em;
}

.bio li span {
  position: absolute;
  display: none;
  background: #FFFFE0;
  border: 1px solid orange;
  padding: 0.5em 1em;
  line-height: 1.5em;
  font-size: 0.85em;
  margin-top: 1em;
  margin-left: 0.5em;
  border-radius: 1em;
  border-top-left-radius: 0;
  max-width: 30em;
}

.bio li.past:not(.empty):hover span,
.bio li.present:hover span,
.bio li.birthday:hover span {
  display: block;
}

.bio li.birthday {
  border-color: black;
  border-width: 3px;
}

.bio li.past:not(.empty):hover,
.bio li.present:hover,
.bio li.birthday:hover {
  background: white;
  border-color: #FF4500;
  border-width: 2px;
}

.container, footer {
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
}

.bio-header {
  margin: 30px;
}

.bio-bottom {
  width: 400px;
  height: 400px;
  color: red;
}
