/* @include breakpoint(\$small) {

  .main {
    @include span(8);
  }

  aside {
    @include span(4 at 9 of 12);
  }
}

@include breakpoint(\$large) {
  @include layout(24);

  .main {
    @include span(21);
.col1, .col2, .col3 {
      max-height: 500px;
      max-width: 500px;
    }

  }

  aside {
    @include span(3 at 21);
  }
} */
@import url(http://fonts.googleapis.com/css?family=Karla);
/* global */
@import url(http://fonts.googleapis.com/css?family=Karla);
::-moz-selection {
  color: white;
  background: #FF0335;
}

::selection {
  color: white;
  background: #FF0335;
}

* {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Karla";
}
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* main */
a {
  color: #2980b9;
  text-decoration: none;
  transition-duration: .4s;
}
a:hover {
  color: white;
  background-color: #FF0335;
}

.active {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 4em;
  font-weight: bolder;
}

/* nav */
nav {
  width: 100%;
  border-bottom: 5px solid #FF0335;
  text-align: right;
  background-color: #f2f2f2;
}
nav ul {
  display: inline;
}
nav ul li {
  margin: 1em;
  padding: 1em 0 1em 0;
  display: inline;
}
nav ul li a {
  font-size: 1.5em;
  font-weight: bolder;
  line-height: 60px;
}
nav ul #home-logo {
  float: left;
  font-size: 2em;
  padding: 0 20px 0 20px;
}

/* footer */
footer {
  clear: both;
  padding: 2em;
  margin-top: 4em;
  background-color: #f2f2f2;
}

footer p {
  font-size: 19.2px;
  font-size: 1.2rem;
  margin: 2em auto 0;
  text-align: center;
}

.icons {
  text-align: center;
}

.icons li {
  display: inline;
  margin: .5em;
}

.icons li a {
  font-size: 38.4px;
  font-size: 2.4rem;
  border-bottom: none;
  color: #696969;
}
.icons li a:hover {
  /* to reset ::selection  */
  background-color: #f2f2f2;
}

.fa-codepen:hover {
  color: black;
}

.fa-reddit:hover {
  color: #FC461D;
}

.fa-medium:hover {
  color: black;
}

.fa-linkedin-square:hover {
  color: #1F84BA;
}

.fa-twitter:hover {
  color: #64A9DD;
}

.fa-github:hover {
  color: black;
}

/* bio */
/* projects */
@media (min-width: 64rem) {
  html {
    font-size: 120%;
  }
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Karla";
}
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* global */
::-moz-selection {
  color: white;
  background: #FF0335;
}

::selection {
  color: white;
  background: #FF0335;
}

* {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Karla";
}
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* main */
a {
  color: #2980b9;
  text-decoration: none;
  transition-duration: .4s;
}
a:hover {
  color: white;
  background-color: #FF0335;
}

.active {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 4em;
  font-weight: bolder;
}

/* nav */
nav {
  width: 100%;
  border-bottom: 5px solid #FF0335;
  text-align: right;
  background-color: #f2f2f2;
}
nav ul {
  display: inline;
}
nav ul li {
  margin: 1em;
  padding: 1em 0 1em 0;
  display: inline;
}
nav ul li a {
  font-size: 1.5em;
  font-weight: bolder;
  line-height: 60px;
}
nav ul #home-logo {
  float: left;
  font-size: 2em;
  padding: 0 20px 0 20px;
}

/* footer */
footer {
  clear: both;
  padding: 2em;
  margin-top: 4em;
  background-color: #f2f2f2;
}

footer p {
  font-size: 19.2px;
  font-size: 1.2rem;
  margin: 2em auto 0;
  text-align: center;
}

.icons {
  text-align: center;
}

.icons li {
  display: inline;
  margin: .5em;
}

.icons li a {
  font-size: 38.4px;
  font-size: 2.4rem;
  border-bottom: none;
  color: #696969;
}
.icons li a:hover {
  /* to reset ::selection  */
  background-color: #f2f2f2;
}

.fa-codepen:hover {
  color: black;
}

.fa-reddit:hover {
  color: #FC461D;
}

.fa-medium:hover {
  color: black;
}

.fa-linkedin-square:hover {
  color: #1F84BA;
}

.fa-twitter:hover {
  color: #64A9DD;
}

.fa-github:hover {
  color: black;
}

/* bio */
/* projects */
img {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 15px 0 15px 0;
  padding-top: 20px;
  opacity: .8;
}
img:hover {
  opacity: 1;
}

.projects h2 {
  font-size: 1em;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.title {
  font-size: 2em;
  text-align: center;
}

.item {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.item:after {
  content: " ";
  display: block;
  clear: both;
}

.description, .stat {
  margin-top: .8em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

.stat {
  margin-top: 0;
}
.stat ul {
  margin-top: -10px;
  text-indent: 20px;
}
