$mobile: max-width 30em;
$tablet: max-width 808px;
$full: 60em;

input[type="checkbox"] {
	display: none;
}

nav label {
	display: none;
	font-size: 2em;
}

.home-logo {
  float: left;
}

@include breakpoint($mobile) {
	body {
    @include container(100%);
  }
  nav {
		padding: 0;
    .home-logo {
      font-size: 1.5em;
      float: none;
			display: block;
		  text-align: center;
			margin: 0;
    }
    .nav-links {
      text-align: center;
      display: none;
      margin: 0;

       a{
				 font-size: 16px;
			   font-weight: bolder;
			   line-height: 60px;
			   margin-right: 0;
				 padding: 0 12px;
       }
    }
    label {
      display: block;
      text-align: center;
    }
    :checked ~ .nav-links{
		display: block;
		text-align: center;
	  }
  }
  .greeting {
		padding: 0 30px;
		.blurb {
			margin: 0;
			width: 100%;
			float: none;
			padding: 0;
			h1 {
				font-size: 30px;
				text-align: center;
				margin-top: 15px;
			}
		}
    img {
    display: none;
		}
  }
  footer {
		padding: 0;
		ul {
			padding: 0;
		}
		.icons li a {
			font-size: 1.4rem !important;
		}
    p{
      margin: 25px 20px;
			font-size: 14px;
    }
  }
	.projects {
 		img {
			width: 100%;
		}
		h3 {
			text-indent: 0;
			text-align: center;
		}
		.description {
			width: 100%;
			padding: 0 20px;
			margin-top: 0;
		}
		.stat {
			p{
				display: block;
				width: 100%;
				text-indent: 0;
				text-align: center;
			}
			ul {
				text-indent: 0;
				li {
					font-size: 96%;
				}
			}
		}
	}
	.resume-page {
		margin-left: 0;
		.item ul {
		}
		h4 ul {
			margin-right: 7em;
			margin-left: 5em;
		}
	}
	.bio {
		.container {
			width: 100%;
			.bio-header {
				h1 {
					font-size: 30px;
					text-align: center;
				}
			}
			ul {
				margin-left: -20px;
				margin-right: 5px;
			}
		}
	}
}
