$small: 500px;
$medium: 700px;
$large: 960px;

/* @include breakpoint(\$small) {

  .main {
    @include span(8);
  }

  aside {
    @include span(4 at 9 of 12);
  }
}

@include breakpoint(\$large) {
  @include layout(24);

  .main {
    @include span(21);
.col1, .col2, .col3 {
      max-height: 500px;
      max-width: 500px;
    }

  }

  aside {
    @include span(3 at 21);
  }
} */
