@import "color";
@import url(http://fonts.googleapis.com/css?family=Karla);

/* global */
::-moz-selection {
  color: white;
  background: $accent-color;
}

::selection {
  color: white;
  background: $accent-color;
}

* {
  box-sizing: border-box;
}

body {
  background: $background-color;
  @include container(100%);
  font-family: "Karla";
}


/* main */
a {
  color: $link-color;
  text-decoration: none;
  transition-duration: .4s;
  &:hover{
    color: white;
    background-color: $accent-color;
  }
}

.active {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 4em  ;
  font-weight: bolder;
}

/* nav */

nav {
  width: 100%;
  border-bottom: 10px solid $accent-color;
  text-align: right;
  background-color: $background-color;
  ul{
    display: inline;
    li {
      margin: 1em;
      padding: 1em 0 1em 0;
      display: inline;
      a {
        font-size: 1.5em;
        font-weight: bolder;
        line-height: 60px;
      }
    }
    #home-logo {
      float: left;
      font-size: 2em;
      padding: 0 20px 0 20px;
    }
  }
}

/* footer */

footer {
  background-color: #f2f2f2;
  border-top: 1px solid $accent-color;
  clear: both;
  padding: .5em;
}

footer p {
  font-size: 19.2px;
  font-size: 1.2rem;
  margin: 2em auto 0;
  text-align: center;
}

.icons {
  text-align: center;
}

.icons li {
  display: inline;
  margin: .5em;
}

.icons li a {
  font-size: 38.4px;
  font-size: 2.4rem;
  border-bottom: none;
  color: #696969;
  &:hover {
  /* to reset ::selection  */
  background-color: $background-color;
  }
}

.fa-codepen:hover {
  color: black;
}

.fa-reddit:hover {
  color: #FC461D;
}

.fa-medium:hover {
  color: black;
}

.fa-linkedin-square:hover {
  color: #1F84BA;
}

.fa-twitter:hover {
  color: #64A9DD;
}

.fa-github:hover {
  color: black;
}
/* bio */

/* projects */
