@import 'susy';
@import 'breakpoint';
@import "grid", "layout", "responsive", "style";




a {
  color:#2980b9;
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 4em  ;
  font-weight: bolder;
}

nav {
  width: 100%;
  border-bottom: 5px solid $accent-color;
  text-align: right;
  background-color: $background-color;
  ul{
    display: inline;
    li {
      margin-left: 1em;
      display: inline;
      a {
        font-weight: bolder;
        text-decoration: none;
        line-height: 60px;
        padding-right: 20px;

      }
    }
    #home-logo {
      float: left;
      font-size: 2em;
      padding-left: 20px;
    }
  }
}

.main {
  background: $background-color;
  h2 {
    color: $primary-color;
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
  }
}

section {
  border-bottom: 5px solid #FF0335;
}

.greeting {
  @include span(12);
  img {
    float:left;
    max-height: 600px;
    max-width: 500px;
    @include span(4 of 12);
  }

  article {
    @include span(6 at 4 of 12);
    .bigger {
    font-size: 145%; }
    .medium-size {
    font-size: 125%; }
    p {
      font-size: 1.5em;

    }
  }
}

aside {
  float: left;
  @include span(2 at 10 of 12);
  ul {
  padding: 0;
    li {
      list-style: none;
      margin: 0;
      a {
        display: block;
        padding: 10px 5%;
        border-bottom: solid 1px #95a5a6;
      }
    }
  }
}

/* footer {

  background-color: yellow;
} */

footer {
    clear: both;
    padding: 2em;
    /* position: relative; */
    /* z-index: 10; */
    margin-top: 4em;
    background-color: #f2f2f2;
}
footer p {
    font-size: 19.2px;
    font-size: 1.2rem;
    margin: 2em auto 0;
    text-align: center;
}

.icons li {
    display: inline-block;
    margin: .5em;
}
.icons li a {
    font-size: 38.4px;
    font-size: 2.4rem;
    border-bottom: none;
    color: #696969;
}
.icons li {
  display: inline;
    a {
      color: black;
    }
}

.fa-codepen:hover {
  color: gold;
}

.fold {
  clear:both;
}
.fold img {
  max-height: 800px;
  max-width: 900px;
  @include span(12 of 12);
  margin: 15px 0 15px 0;
  padding-bottom: 20px;
  padding-top: 20px;
  /* border-top: 2px solid \$primary-color; */
  /* border-bottom: 2px solid \$primary-color; */
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}
