@import 'susy';
@import 'breakpoint';
@import "grid", "responsive", "layout", "style";

img {
  @include span(8 of 12);
  margin: 15px 0 15px 0;
  padding-top: 20px;
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}

.description {
  margin-top: 1em;
  @include span(4 at 8 of 12);
}

.stat {
  @extend .description;
}
