@import 'susy';
@import 'breakpoint';
@import "grid", "layout", "style", "color";

img {
  @include span(12);
  margin: 15px 0 15px 0;
  padding-top: 20px;
  opacity: 1;
  &:hover {
    opacity: .8;
  }
}

.proj-header {
  margin: 12px 50px;
  size: 20px;
}

.projects {
  clear: both;
  margin: 5px 50px;
  h2 {
    color: $primary-color;
    font-size: 1.3em;
    font-weight: bolder;
    text-decoration: underline;
    margin: 0px;
  }
  h3 {
    color: $primary-color;
    font-weight: bold;
    text-decoration: underline;
    text-indent: 3.5em;
  }
  b {
    color: $accent-color;
  }
}

.blurb {
  padding: 0 6px;
  width: 50%;
  float: left;
}

.stat {
  padding-left: 40px;
  width: 50%;
  float: left;
  ul {
    padding: 0px;
  }
}

@import "responsive";
