@import 'susy';
@import 'breakpoint';
@import "grid", "responsive", "layout", "style";

img {
  @include span(8 of 12);
  margin: 15px 0 15px 0;
  padding-top: 20px;
  opacity: 1;
  &:hover {
    opacity: .8;
  }
}

.projects {
  h2{
    font-size: 1.3em;
    font-weight: bolder;
    text-decoration: underline;
  }
  h3 {
    font-weight: bold;
    text-decoration: underline;
    text-indent: 3.5em;
  }
}

.title {
  font-size: 2em;
  text-align: center;
}

.item {
  @include container(100%);
}
.description {
  margin-top: .5em;
  @include span(4 at 8 of 12);
}

.stat {
  margin-top: 0;
  @extend .description;
  ul {
    margin-top: -10px;
    text-indent: 20px;
  }
  p {
    text-indent: 3.5em;
  }
}
